SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,bizonvr.ru,www.bizonvr.ru

DB_ENGINE=django.db.backends.postgresql
DB_NAME=bizon
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5434

PORT=8001
