<article class="content-block content-block--full-image">
  {% if block.title %}
    <h3 class="content-block__title">{{ block.title }}</h3>
  {% endif %}
  {% if block.image %}
    <div class="content-block__full-image-shell">
      <img src="{{ block.image.url }}"
           alt="{{ block.title|default:product.name }}"
           class="content-block__image content-block__image--contain"
           loading="lazy"
           decoding="async"
           {{ block.image|image_dimension_attrs }} />
    </div>
  {% endif %}
  {% if block.caption %}
    <p class="content-block__caption">{{ block.caption }}</p>
  {% endif %}
</article>
