<!-- Alfa-Track -->
<link rel="dns-prefetch" href="//cloud.emailtracking.ru">
<link rel="preconnect" href="https://cloud.emailtracking.ru" crossorigin="">

<script>
  (function (w) {
    var trackerLoader = w.BizonVRTrackerLoader;
    var version = Math.floor(Date.now() / 3600000);
    var mirrors = [
      'https://cloud.emailtracking.ru/gtm/script.js',
      'https://cloud.alfa-track.com/gtm/script.js'
    ];
    var isLoaded = false;

    w.alfatrack = w.alfatrack || {};
    w.alfatrack.token = 'Co3FRFhjX2';

    if (!trackerLoader) {
      return;
    }

    trackerLoader.afterRender(function () {
      mirrors.forEach(function (baseUrl) {
        trackerLoader.loadScriptOnce(baseUrl + '?ver=' + version, {
          async: true,
          crossOrigin: 'anonymous',
          referrerPolicy: 'strict-origin-when-cross-origin',
          onLoad: function () {
            if (isLoaded) {
              return;
            }

            isLoaded = true;
            if (typeof w.alfatrack.initParameters === 'function') {
              w.alfatrack.initParameters();
            }
          }
        });
      });
    }, {
      idleTimeout: 3000,
      delay: 1000
    });
  })(window);
</script>
<!-- End Alfa-Track -->
