<!-- Calltouch -->
<script>
  (function (w) {
    var counterId = 'mswgnlnh';
    var trackerLoader = w.BizonVRTrackerLoader;

    w.CalltouchDataObject = 'ct';
    w.ct = w.ct || function () {
      (w.ct.callbacks = w.ct.callbacks || []).push(arguments);
    };
    w.ct.callbacks = w.ct.callbacks || [];
    w.ct.loaded = Boolean(w.ct.loaded);
    w.ct.counters = w.ct.counters || [];

    if (w.ct.counters.indexOf(counterId) === -1) {
      w.ct.counters.push(counterId);
    }

    if (!trackerLoader) {
      return;
    }

    var isHeavyCatalogPage = {{ defer_public_tracking_heavily|yesno:"true,false" }};

    trackerLoader.afterRender(function () {
      var scriptName = typeof Array.prototype.find === 'function' ? 'init-min.js' : 'init.js';
      var scriptSrc = 'https://mod.calltouch.ru/' + scriptName + '?id=' + counterId;

      trackerLoader.loadScriptOnce(scriptSrc, {
        async: true,
        crossOrigin: 'anonymous',
        referrerPolicy: 'strict-origin-when-cross-origin'
      });
    }, {
      idleTimeout: isHeavyCatalogPage ? 7000 : 2500,
      delay: isHeavyCatalogPage ? 3200 : 900
    });
  })(window);
</script>
<!-- /Calltouch -->
