<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(w, d) {
        var counterId = 108292006;
        var scriptSrc = 'https://mc.yandex.ru/metrika/tag.js?id=' + counterId;
        var hasScheduledLoad = false;
        var trackerLoader = w.BizonVRTrackerLoader;
        var hostname = w.location && w.location.hostname;
        var isHeavyCatalogPage = {{ defer_public_tracking_heavily|yesno:"true,false" }};
        var webvisorAllowedPrefixes = [
            '/',
            '/catalog/',
            '/orders/',
            '/contacts/',
            '/solutions/',
            '/compact-vr/',
            '/invest/',
            '/invest-2/',
            '/invest-2-new/',
            '/conference-attractions/',
            '/arenda/',
            '/uslugi/'
        ];

        w.ym = w.ym || function() {
            (w.ym.a = w.ym.a || []).push(arguments);
        };
        w.ym.l = w.ym.l || Date.now();

        function shouldEnableWebvisor(pathname) {
            var path = pathname || '/';
            if (path === '/') {
                return true;
            }

            for (var i = 0; i < webvisorAllowedPrefixes.length; i++) {
                var prefix = webvisorAllowedPrefixes[i];
                if (prefix !== '/' && path.indexOf(prefix) === 0) {
                    return true;
                }
            }

            return false;
        }

        if (
            hostname === 'localhost'
            || hostname === '127.0.0.1'
            || hostname === '[::1]'
            || hostname === '::1'
            || (hostname && hostname.slice(-6) === '.local')
        ) {
            return;
        }

        function initMetrika() {
            if (hasScheduledLoad) {
                return;
            }
            hasScheduledLoad = true;

            for (var i = 0; i < d.scripts.length; i++) {
                if (d.scripts[i].src === scriptSrc) {
                    return;
                }
            }

            if (trackerLoader) {
                trackerLoader.loadScriptOnce(scriptSrc, {
                    async: true,
                    referrerPolicy: 'strict-origin-when-cross-origin'
                });
            } else {
                var script = d.createElement('script');
                var firstScript = d.getElementsByTagName('script')[0];

                script.async = true;
                script.src = scriptSrc;

                if (firstScript && firstScript.parentNode) {
                    firstScript.parentNode.insertBefore(script, firstScript);
                } else {
                    (d.head || d.documentElement).appendChild(script);
                }
            }

            w.ym(counterId, 'init', {
                ssr: true,
                webvisor: shouldEnableWebvisor(w.location && w.location.pathname),
                clickmap: true,
                ecommerce: 'dataLayer',
                referrer: d.referrer,
                url: w.location.href,
                accurateTrackBounce: true,
                trackLinks: true
            });
        }

        function scheduleAfterFirstInteraction(callback) {
            var triggered = false;
            var interactionEvents = ['pointerdown', 'keydown', 'touchstart', 'scroll'];
            var cleanupFns = [];

            function cleanup() {
                for (var i = 0; i < cleanupFns.length; i++) {
                    cleanupFns[i]();
                }
                cleanupFns = [];
            }

            function run() {
                if (triggered) {
                    return;
                }
                triggered = true;
                cleanup();
                callback();
            }

            for (var i = 0; i < interactionEvents.length; i++) {
                (function(eventName) {
                    var listener = function() {
                        run();
                    };
                    w.addEventListener(eventName, listener, { once: true, passive: true });
                    cleanupFns.push(function() {
                        w.removeEventListener(eventName, listener, { passive: true });
                    });
                })(interactionEvents[i]);
            }

            w.setTimeout(run, isHeavyCatalogPage ? 15000 : 8000);
        }

        function scheduleMetrika() {
            var deferInit = function() {
                if (trackerLoader) {
                    trackerLoader.afterRender(initMetrika, {
                        idleTimeout: isHeavyCatalogPage ? 9000 : 5000,
                        delay: isHeavyCatalogPage ? 4500 : 2500
                    });
                    return;
                }

                if ('requestIdleCallback' in w) {
                    w.requestIdleCallback(function() {
                        w.setTimeout(initMetrika, 0);
                    }, {timeout: isHeavyCatalogPage ? 9000 : 5000});
                    return;
                }

                w.setTimeout(initMetrika, isHeavyCatalogPage ? 4500 : 2500);
            };

            scheduleAfterFirstInteraction(deferInit);
        }

        if (d.readyState === 'interactive' || d.readyState === 'complete') {
            scheduleMetrika();
            return;
        }

        d.addEventListener('DOMContentLoaded', scheduleMetrika, {once: true});
    })(window, document);
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/108292006" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
